* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background-color: #ffcc00;
    padding: 20px;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 50px;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    padding-top: 10px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.productos {
    margin: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.producto {
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
    width: 200px;
}

.producto img {
    width: 100%;
    height: auto;
}

.add-to-cart {
    background-color: #ffcc00;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

.carrito {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
}

.total {
    margin-top: 20px;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
